/* Header Container */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #141414;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.header_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.header_left {
  display: flex;
  align-items: center;
}

.header_logo {
  width: 100px;
  margin-right: 20px;
}

.header_nav {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_nav_item {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 500;
}

.header_nav_item:hover {
  color: #e50914;
}

.header_right {
  display: flex;
}

.header_icons {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.header_icons li {
  margin-left: 20px;
  cursor: pointer;
}

.header_icons li:hover {
  color: #e50914;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header_nav {
    display: none; /* Hide nav items for smaller screens */
  }

  .header_logo {
    width: 80px;
  }

  .header_right li {
    margin-left: 10px;
  }
}
